
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
	height: 100%;
	overflow-x: hidden;
}

.container-fluid {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100% !important;
}

.after-container {
	height: 100%;
}

.main-animation {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
}

.main-section {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	position: relative;
	border-bottom: 3px solid rgb(17, 242, 242);
	color: rgb(17, 242, 242);
}

#motto, #submotto {
	text-align: center;
}

#submotto {
	font-size: 14pt;
}

.common-content-section {
	width: 100%;
	margin: 0;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 3px solid rgb(17, 242, 242);
}

.common-content-section > .title, .common-content-section > .content-paragraph, .common-content-section > p {
	text-align: center;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.common-content-section > .content-paragraph, .common-content-section > p {
	font-size: 12pt;
}

ul {
	display: inline-block;
}


.costumitem {
	width: 100%;
	height: 400px;
	padding: 30px;
	position: relative;
	text-align: center;
	transition: .2s ease-in-out all;
}

.costumitem:hover {
	-ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

}

.costumitem-image  {
	height: 50%;
}

.costumitem-image>img {
	max-width: 100%;
 	max-height: 100%;
}

.costumitem-title {
	height:10%;
	width: 100%;
	margin-top: 20px;
	color: white;
}

.costumitem-content {
	margin-top: 20px;
	height: 40%;
}

.common-content-section>ul {
	display: inline-block;
}

.common-content-section>ul>li {
	text-align: center;
}

.contact-us-section {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0 !important;
	min-height: 500px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30%;
	padding-right: 30%;
	color: white;
	border-bottom: 3px solid rgb(17, 242, 242);
}

.form-horizontal .control-label {
	text-align: left !important;
	padding-bottom: 5px;
	padding-left: 0;
}

.form-control {
	margin-bottom: 5px;
}

#contact-us-button {
	background-color: rgb(17, 242, 242);
	color: black;
	text-align: center;
	margin-top: 5px;
}

.our-services-section {
	border-bottom: 3px solid rgb(17, 242, 242);
}

.about-us-section {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.our-work-section {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;

  }

.common-content-photo-section {
 	position: relative;
	text-align: center;
	color: white;
 }

 .common-content-photo-section .paragraph {
 	padding-top: 100px !important;
 }

.ccps-image-container {
	height: 500px !important;
	width: 100%;
	padding: 30px;
}


.ccps-image-container > img {
 	max-width: 100%;
 	max-height: 100%;
 }

 .ccps-paragraph {
 	padding: 50px;
 	text-align: left;
 	font-size: 12pt;
 }


.logo-section {
	width: 100%;
	position:absolute;
	text-align: center;
	top: 10%;
}

.motto-section {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 60%;
}

.logo {
	max-width: 40%;
	transition: 0.2s ease-in-out all;
}

.logo:hover {
	-ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.centro {
	text-align: center !important;
}


.logoanimation-appear {
	top: 5%;
	opacity: 0;
}

.logoanimation-appear.logoanimation-appear-active {
	top: 10%;
	opacity: 1;
	transition: 1.5s ease-in all;
}

.mottoanimation-appear {
  	top: 65%;
	opacity: 0;
}

.mottoanimation-appear.mottoanimation-appear-active {
  top: 60%;
	opacity: 1;
	transition: 1.5s ease-in all;
}

@-webkit-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.spin {
	width: 10%;
	-webkit-animation: spin .7s ease infinite;
	-moz-animation: spin .7s ease infinite;
	-ms-animation: spin .7s ease infinite;
	-o-animation: spin .7s ease infinite;
	animation: spin .7s ease infinite;
}

.navbar {
	display: inline-block;
	width: 100%;
	height: 50px;
	text-align: center;
	position: absolute;
	top:50px;
}

.navbar>ul>li>a {
	margin: 10px;
	color: rgb(17, 242, 242);
	transition: 0.1s ease-in-out all;
	text-decoration: none;
	cursor: pointer;
}

.navbar>ul>li:hover {
	-ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  border-bottom: 2px solid rgb(17, 242, 242);
}
